body {
  height: 100%;
  width: 100%;
  font-family: "montserrat";
  margin: 0;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.app {
  width: 60rem;
  height: 100%;

  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.Title {
  font-weight: 800;
  margin: 72px auto;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: inline-block;
  width: 60px;
}

input[type="text"] {
  width: 200px;
  padding: 15px 35px;
  border: 1px solid #ccc;
  margin: 15px auto;
}

button {
  padding: 8px 18px;
  border-radius: 6px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

#results {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}
ul {
  text-decoration: none;
  list-style: none;
}
li {
  margin: 90px 0;
}

img {
  height: 258px;
}
